<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Interview Tests" annotations="JDK" verbose="2">
        <classes>
            <class name="bravahome.test.interview.randomnumbergenerator.UnbiasedTest" />
        </classes>
    </test>
</suite>
